body {
    height: 100%;
    text-align: center;
    margin: auto;
    background-attachment: fixed;
    background: black;
}
#container {
    
    width: 100%;        
    height: 100%;
}
#header {
    transition-duration: 500ms;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200px;
    color: white;
    font-family: 'Montserrat', sans-serif !important;
    }

#header:hover {
    transition-duration: 500ms;
    background: white;
    color: black;
} 
#TIME {
    color:white;
    font-family: 'Montserrat', sans-serif !important;
    padding-left: 25px;
    padding-right: 25px;
}
